In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

%matplotlib inline

In [2]:
data = 'data/bid_request_export.csv'
df = pd.read_csv(data)

In [3]:
df.head()

,id,device_id,programmatic_publisher_id,cpm,cost,display_time,created_at,lat,lon,creative_height,creative_width
0,300187940,lamar.com:429.009603,62,4.0,0.044670,1579272025,2020-01-17 15:09:08.929044,35.071590,-78.880340,400.0,1400.0
1,300187941,lamar.com:221.006113,62,4.0,0.118134,1579271853,2020-01-17 15:09:08.929044,39.089130,-94.486730,400.0,1400.0
2,300187942,lamar.com:421.000211,62,6.0,0.144345,1579272508,2020-01-17 15:09:08.929044,41.408802,-81.819488,400.0,1400.0
3,300187943,lamar.com:090.060016,62,4.0,0.019807,1579271825,2020-01-17 15:09:08.929044,30.182783,-92.070178,400.0,840.0
4,300187944,lamar.com:218.009000,62,4.0,0.031335,1579271560,2020-01-17 15:09:08.929044,38.426140,-82.420120,400.0,840.0

In [4]:
df.shape

(20000, 11)

In [5]:
df.dtypes

id                             int64
device_id                     object
programmatic_publisher_id      int64
cpm                          float64
cost                         float64
display_time                   int64
created_at                    object
lat                          float64
lon                          float64
creative_height              float64
creative_width               float64
dtype: object

In [6]:
df.isnull().sum()

id                            0
device_id                     0
programmatic_publisher_id     0
cpm                           0
cost                          0
display_time                  0
created_at                    0
lat                           0
lon                           0
creative_height              13
creative_width               13
dtype: int64

In [7]:
df.nunique()

id                           20000
device_id                     5835
programmatic_publisher_id        8
cpm                             12
cost                          3060
display_time                  4660
created_at                      21
lat                           4495
lon                           4504
creative_height                 23
creative_width                  30
dtype: int64

In [14]:
df['created_at'] = pd.to_datetime(df.created_at)
df['sqft'] = [l[0] * l[1] for l in list(zip(df.creative_height, df.creative_width))]
df = df.dropna(how='any',axis=0)

In [15]:
df.dtypes

id                                    int64
device_id                            object
programmatic_publisher_id             int64
cpm                                 float64
cost                                float64
display_time                          int64
created_at                   datetime64[ns]
lat                                 float64
lon                                 float64
creative_height                     float64
creative_width                      float64
sqft                                float64
dtype: object

In [17]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

lr = LinearRegression()

feature_cols = ['programmatic_publisher_id', 'creative_height', 'sqft']
X = df[feature_cols]
y = df.cpm

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=99)

lr.fit(X_train, y_train)

print(lr.intercept_)
print(lr.coef_)

0.5841083586716076
[ 9.47661054e-02 -9.92645612e-04  3.58582213e-07]